body {
    font-family: 'DM Sans';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar */
header {
    background: #fff;
    padding: 12px 62px;
    height: 58px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    height: 58px;
    align-items: center;
}

nav .logo {
    font-size: 24px;
}

nav .logo img {
    height: 44px;
    width: 133.31px;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    font-weight: bold;
}

nav ul li {
    display: flex;
    padding-left: 47px;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

.demo-btn {
    padding: 11px 23px;
    background: #ff3366;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    height: 48px;
    border-radius: 8px;
    width: 176px;
    letter-spacing: -0.5px;
}

/* main section */
.achievers {
    height: 112px;
    text-align: center;
    padding: 69px 0;
    color: #fff;
    background-image: linear-gradient(to top, #5A40C4, #4B5ADB);
}

.achievers p,
.achievers h2 {
    margin: 0;
    line-height: 50px;
}

/* developmental wonders */
.developmental-wonders {
    text-align: center;
}


.developmental-wonders .wonders {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 974px;
}

.developmental-wonders h2 {
    margin-top: 41px;
    margin-bottom: 64px;
}

.wonder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 258px;
}

.wonder {
    background-color: #F5EAE2;
    border-radius: 8px;
    width: 199px;
    height: 265px;
}


video {
    border-radius: 8px;
    width: 258px;
    height: 143.22px;
}

.line-svg {
    margin-top: 64px;
    margin-bottom: 64px;
}


/* happy parents */
.happy-parents h1,
.happy-parents p,
.happy-parents-button-section {
    position: relative;
    text-align: center;
}

.happy-parents-list-container {
    position: relative;
}

.happy-parents-list {
    margin: auto;
    margin-top: 17px;
    width: 81%;
    display: flex;
    overflow-x: scroll;
}


.happy-parents-list .happy-parents {
    min-width: 360px;
    min-height: 358px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 4px 12px 0 rgb(19 15 46 / .06);
    margin-left: 40px;
    margin-bottom: 20px;

}

.happy-parents-quote {
    display: flex;
    align-items: flex-start;
    margin: 24px;
}


.happy-parents-button {
    background-color: white;
    color: #FF3F4E;
    border: 1px solid #FF3F4E;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.happy-parents h1,
.happy-parents p,
.happy-parents-quote p {
    color: #002863;

}

/* statistics */
.statistics-container {
    display: flex;
    justify-content: space-around;
    padding: 43px 0;
    text-align: center;
}

.statistics {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 887px;
}

.stat {
    flex: 1;
}

/* awarded babies*/
.awarded-babies h1 {
    text-align: center;
}

.awarded-babies-list-container {
    position: relative;
    background-color: #FFFBFB;
}

.awarded-babies-list {
    margin: auto;
    margin-top: 17px;
    width: 81%;
    display: flex;
    overflow-x: scroll;
}


.awarded-babies-list .awarded-babies {
    width: 360px;
    height: 338px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 4px 12px 0 rgb(19 15 46 / .06);
    margin-left: 40px;
    margin-bottom: 20px;

}

.awarded-babies-image {
    display: flex;
    flex-direction: row-reverse;
}

.awarded-babies-image img {
    width: 360px;
    height: 223px;
    transform: scaleX(-1)
}

.awarded-babies-quote {
    display: flex;
    align-items: flex-start;
    margin: 24px;
}


.awarded-babies-button {
    background-color: white;
    color: #FF3F4E;
    border: 1px solid #FF3F4E;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.awarded-babies h1 {
    margin-top: 34px;
    margin-bottom: 34px;
}

.awarded-babies h1,
.awarded-babies p,
.awarded-babies-quote p {
    color: #002863;

}

/* start now banner */
.start-now-banner {
    color: #fff;
    padding: 48px 14%;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to top, #5A40C4, #4B5ADB);
}

.start-now-banner p {
    margin: 0;
    padding: 0;
}

.start-now-banner-btn {
    padding: 11px 23px;
    background: #ff3366;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    height: 48px;
    border-radius: 8px;
    width: 176px;
    letter-spacing: -0.5px;
}

@media only screen and (max-width: 992px) {

    header {
        background: #fff;
        padding: 12px 9px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    nav {
        height: 40px;
        padding-left: 9px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    nav .logo img {
        height: 39px;
        width: 118px;
    }

    nav ul {
        display: flex;
        margin: 0;
        align-items: flex-start;
    }

    nav ul .menu {
        display: none;
    }

    .demo-btn {
        padding: 9px 15px;
        background: #ff3366;
        color: #fff;
        border: none;
        cursor: pointer;
        font-size: 14px;
        height: 40px;
        border-radius: 8px;
        width: 147px;
        letter-spacing: -0.5px;
    }

    .achievers {
        height: 112px;
        text-align: center;
        padding-top: 43px;
        padding-bottom: 57px;
        color: #fff;
    }

    .wonders {
        display: flex;
        flex-direction: column;
    }

}